page-home {
    .gm-style-cc{
        display: none;
    }

    #map iframe + div {
        display: none;
    }

    #map {
        width: 100%;
        height: 80%;
    }
    
    .scroll-content{
        background: #90d6ff;
    }

    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input{
        margin-left: 10px;
    }

    .item-ios, .item-md{
        background: none;
    }

    .col > .card{
        margin-top: 0px;
    }

}
